/*
    Color Palette:
    #ED0000     Bright Red
    #610000     Dark Red
    #A10000     Neutral Red
    #191916     Dark Gray
    #20201C     Light Gray

*/
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: #303034;
    font-size: 10px;
}
.pageHeader {
    background: #191919;
}

.mainNav {
    height: 50px;
    font-family: Arial, sans-serif;
    border-top: 2px solid #232325;
    border-bottom: 2px solid #222;
    box-sizing: border-box;
}
.nav-list {
    list-style: none;
    float: left;
}
.nav-list li {
    float: left;
    font-size: 2.5em;
    line-height: 50px;
    padding: 0 15px;
    margin-left: 10px;
    color: #999;
    transition: all 1s ease;
}
.nav-list li:hover {
    color: #A10000;
    text-shadow: 1px 1px black;
}
.current-page {
    float: right;
    font-size: 2.5em;
    line-height: 50px;
    padding: 0 15px;
    margin-right: 10px;
    color: #910000;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-style: italic;
}
.mainSec {
    height: 100%;
    overflow: hidden;
}
.gallerySec {
    height: calc(100% - 111px);
    width: 100%;
    overflow: hidden;
}
.logo {
    display: block;
    margin-left: 10px;
    box-sizing: border-box;
}
.logo-text {
    display: block;
    font-size: 5em;
    font-style: italic;
    color: #910000;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.galleryDiv, .aboutDiv, .blogDiv {
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    box-sizing: border-box;
    background: #999;
    color: #999;
    font-size: 2em;
    transition: all 0.5s ease;
}

.galleryDiv {
    left: 20%;
}
.aboutDiv {
    left: 50%;
}
.blogDiv {
    left: 80%;
}
.div-name {
    margin: 15px 15px 0 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    font-family: Arial, sans-serif;
    font-weight: normal;
}
.div-text {
    margin: 15px 15px 0 15px;
    font-family: Arial, sans-serif;
}
.galleryDiv:hover, .aboutDiv:hover, .blogDiv:hover {
    background: #191919;
}
.project-titles {
    float: left;
    height: 100%;
    width: 30%;
    min-width: 250px;
}
.project-list {
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: #999;
    margin: 20px 20px 0 20px;
    list-style: none;
}
.project-list li {
    margin: 0px 0 0 10px;
    padding: 10px;
    cursor: pointer;
    transition: color 1.25s ease;
}
.project-list li:hover {
    color: #A10000;
    transition: color 1.25s ease;
}
.subproject-list, .subproject-list1, .subproject-list2, .subproject-list3 {
    display: none;
    list-style: none;
    margin-left: 10px;
    background: #202020;
}
.subproject-list li, .subproject-list1 li, .subproject-list2 li, .subproject-list3 li {
    border-bottom: 2px solid #232325;
/*
    -webkit-animation: myfirst 2s;
    animation: myfirst 2s;
    
    
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    
    @-webkit-keyframes myfirst {
        0%   { background: none; }
        100% { background: #202020; }
    }
    @keyframes myfirst {
        0%   { background: none; }
        100% { background: #202020; }
    }
*/
}
.subproject-list li:last-child, .subproject-list1 li:last-child, .subproject-list2 li:last-child, .subproject-list3 li:last-child {
    border-bottom: none;
}
.project-photos {
    overflow: auto;
    float: right;
    height: 100%;
    width: 70%;
    min-width: 600px;
}
.photo-div {
    float: left;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 10px;
    transition: all 1s ease;
}
.photo-div:hover {
    border: 1px solid #910000;
}
.pageFooter {
    clear: both;
    height: 50px;
    background: #191919;
}
.footer-text {
    font-size: 2em;
    color: #999;
    line-height: 50px;
    margin-left: 10px;
}
.active {
    display: block;
}
.background {
    background: #191919;
    border-bottom: 2px solid #232325;
}