* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}
.pageHeader {
    position: fixed;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid lightgray;
    background: white;
}
.mainNav {
    float: right;
}
.mainNav-ul, .dropdown {
    list-style: none;
}
.mainNav-ul li {
    float: left;
    font-size: 2em;
    margin: 0 5px 0 0;
    padding: 18px 25px;
}
.dropdown-menu {
    cursor: pointer;
}
.dropdown {
    clear: both;
    float: right;
    background: white;
    visibility: hidden;
}
.dropdown li {
    float: none;
    border-bottom: 2px solid lightgray;
}
.homeSec {
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 60px;
    background: #add;
    overflow: auto;
    font-size: 1.5em;
}
.contactSec {
    height: calc(100% - 60px);
    width: 100%;
    background: #dda;
    overflow: auto;
    font-size: 1.5em;
}
.contact-info {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
}
.contact-form {
    float: right;
    width: 50%;
    height: 100%;
    overflow: auto;
}
.contact-info-text {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}
.aboutSec {
    float: left;
    height: calc(100% - 60px);
    width: 100%;
    background: #ddd;
}
.aboutSec-text {
    float: left;
    height: 100%;
    width: 50%;
    background: #ddd;
    overflow: auto;
    font-size: 1.5em;
    
}

.backstory, .mission, .vision {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}
.backstory {
    margin-top: 50px;
}
.vision {
    margin-bottom: 50px;
}
.backstory h2, .mission h2, .vision h2, .contact-info-text h2 {
    margin-bottom: 10px;
}
.backstory p, .mission p, .vision p, .contact-info-text p {
    margin-bottom: 10px;
}
.teamSec {
    float: right;
    height: 100%;
    width: 50%;
    background: #ddd;
    overflow: auto;
    font-size: 1.5em;
}
.teamSec-people {
    width: 80%;
    margin: 50px auto 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}
.section-break {
    clear: both;
    height: 60px;
    width: 100%;
    background: white;
}

footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #333;
    color: #999;
    font-size: 1.5em;
    padding-left: 25px;
}
.active {
    visibility: visible;
}